html {font-size: 16px;}

body {
	font-size: 62.5%;
}

#container {
	width: 80%;
	margin: auto;
}

#intro {
	text-align: justify;
	width: 90%;
	margin: auto;
}

#welcome {
	text-align: right;
	font-weight: bold;
}

p {
	padding: .2em;
	display: block;
	font: 2vw/1.5 sans-serif;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	color: #0645AD;
}

img {
	max-width: 100%;
}

li {
	display: inline;
	list-style: none;
	margin: 0em 1em;
}

.table {
	margin: auto;
	display: table;
	width: 100%;
}

.table .row {
	margin: auto;
	display: table-row;
	white-space: nowrap;
}

.row > div{
	margin: auto;
	padding: .2em;
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

#footer {
	font-family: sans-serif;
	margin: auto;
	width: 70%;
	border-top: solid #AAAAAA;
	border-width: .1em;
}

#footer > ul {
	text-align: center;
}

#footer > p {
	font-size: 1.2em;
	text-align: center;
}